{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load dt_content %}
{% load blurb %}
{% load image_blurb %}

{% block head %}
  <title>Django Template</title>
  <link rel="stylesheet" href="{% static 'dt_content/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
{% endblock head %}

{% block body %}

  {% include 'core/intro_header.html' with home_active=True %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <div class="introduction">
          <div class="header">Welcome To<br>My <span class="accent">Humble</span> Abode.</div>
          <div class="content">
            안녕하세요. 딥러닝 연구를 하는 허남규입니다. 의료 분야에서 딥러닝 맛을 보고 현재
            person re-identification, metric learning, meta learning 및 optimization theory 연구에 몰두하고 있습니다.
          </div>
        </div>
      </div>

      <div class="col-12 col-md-9">
        <div class="shortcuts">
          <a href="{% url 'core:work' %}" class="btn link">
            <i class="fas fa-check-square mr-2"></i>Check out my work<i class="fas fa-chevron-right"></i>
          </a>
          <br>
          <a href="{% url 'core:blog' %}" class="btn link">
            <i class="fas fa-feather mr-2"></i>Read what I've wrote<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}
{% block body_script %}
{% endblock body_script %}
