{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load dt_content %}
{% load blurb %}
{% load image_blurb %}

{% block head %}
  <title>namgyu</title>
  <link rel="stylesheet" href="{% static 'dt_content/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
{% endblock head %}

{% block body %}

  {% include 'core/intro_header.html' with home_active=True %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <div class="introduction">
          <div class="header">
            <span class="accent">Rumor has it...</span> <br>
            you want to know <br class="d-inline d-md-none">
            who I am 🌝
          </div>
          <div class="content animate__animated animate__fadeInUp">
            I'm a masters student at KAIST working on large language models (LLMs) in NLP.
            I'm interested in making LLMs ready for the real world.
            I also learn 🎾.
          </div>
        </div>
      </div>

      <div class="col-12 col-md-9">
        <div class="shortcuts">
{#          <a href="{% url 'core:work' %}" class="btn link link-1 animate__animated animate__fadeInUp">#}
{#            <i class="fas fa-check-square mr-2"></i>지금까지 한 일<i class="fas fa-chevron-right"></i>#}
{#          </a>#}
{#          <br>#}
{#          <a href="{% url 'core:blog' %}" class="btn link link-2 animate__animated animate__fadeInUp">#}
{#            <i class="fas fa-feather mr-2"></i>지금까지 쓴 글<i class="fas fa-chevron-right"></i>#}
{#          </a>#}
{#          <br>#}
          <a href="https://github.com/itsnamgyu" target="_blank" class="btn link link-3 animate__animated animate__fadeInUp">
            <i class="fas fa-graduation-cap mr-2"></i>Google Scholar<i class="fas fa-chevron-right"></i>
          </a>
          <br>
          <a href="https://github.com/itsnamgyu" target="_blank" class="btn link link-3 animate__animated animate__fadeInUp">
            <i class="fab fa-github mr-2"></i>GitHub<i class="fas fa-chevron-right"></i>
          </a>
          <br>
          <a href="https://www.linkedin.com/in/itsnamgyu/" target="_blank" class="btn link link-4 animate__animated animate__fadeInUp">
            <i class="fab fa-linkedin mr-2"></i>LinkedIn<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}
{% block body_script %}
{% endblock body_script %}
