{% load static %}

<div class="intro-header">
  <div class="container">
    <div class="d-flex align-items-center">
      <div>
        <div class="header">namgyu ho</div>
        <div class="d-flex">
{#          <a href="{% url 'core:index' %}" class="btn tab {% if home_active %}active{% endif %}">Home</a>#}
{#          <a href="{% url 'core:work' %}" class="btn tab {% if work_active %}active{% endif %}">Work</a>#}
{#          <a href="{% url 'core:blog' %}" class="btn tab {% if blog_active %}active{% endif %}">Blog</a>#}
          {#              <a href="https://www.linkedin.com/in/itsnamgyu/" target="_blank" class="btn tab">LinkedIn</a>#}
          {#              <a href="https://www.github.com/itsnamgyu/" target="_blank" class="btn tab">GitHub</a>#}
        </div>
      </div>

      <a href="{% url 'core:index' %}" class="d-block ml-auto">
        <img class="profile-image" src="{% static 'core/img/profile.jpg' %}">
      </a>
    </div>
  </div>
</div>
