{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load dt_content %}
{% load blurb %}
{% load image_blurb %}

{% block head %}
  <title>Django Template</title>
  <link rel="stylesheet" href="{% static 'dt_content/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/work.css' %}">
{% endblock head %}

{% block body %}

  {% include 'core/intro_header.html' with work_active=True %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <div class="work">
          <div class="title">제가 <span class="accent">지금까지 한 일</span>입니다 👨‍💻</div>

          <div class="work-card">
            <div class="d-flex">
              <div class="icon">
                <i class="fas fa-flask"></i>
              </div>
              <div>
                <div class="header">
                  KAIST OSI 랩 인턴 [ 2021년 1월 - ]
                </div>
                <div class="description">
                  윤세영 교수님의 지도를 받고 person re-identification 연구를 진행하며 새로운 transductive loss,
                  hard-mining scheme 등을 고민중입니다.
                  <a href="https://www.notion.so/itsnamgyu/OSI-Research-a63335ec699946a4a379e720e45e81d4"
                     target="_blank">
                    연구 내용</a> 은 현재 Notion을 통해 공개하고 있습니다. Meta learning, optimization theory 관련 공동 연구도 함께
                  진행중입니다.
                </div>
              </div>
            </div>
          </div>

          <div class="work-card">
            <div class="d-flex">
              <div class="icon">
                <i class="fas fa-flask"></i>
              </div>
              <div>
                <div class="header">
                  Person-in-the-Loop ReID 연구 [ 2020년 9월 - 2020년 10월 ]
                </div>
                <div class="description">
                  Person-in-the-loop을 이용한 re-ranking을 person re-identification 분야에 적용하기 위한
                  framework를 제시하고 hierarchical clustering에 기반한 새로운 기법을 제시하여 성능을 평가했습니다.
                  <a class="link" target="_blank" href="https://openreview.net/forum?id=C0lqfnLlTET">
                    NIPS 2020 HAMLETS 투고본 (4/4/5)
                    <i class="fas fa-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="work-card">
            <div class="d-flex">
              <div class="icon">
                <i class="fas fa-building"></i>
              </div>
              <div>
                <div class="header">
                  ZionTech SWE 인턴 [ 2019년 4월 - 2019년 12월 ]
                </div>
                <div class="description">
                  캘리포니아 B2B 스타트업에서 Wavity SaaS 플랫폼 프론트엔드 담당. 후반부에는 프론트엔드 Angular 이전 프로젝트
                  팀을 리드하여 현재 서비스에 사용되는 코드베이스를 구축했습니다.
                  <a class="link" target="_blank" href="https://wavity.com">
                    www.wavity.com
                    <i class="fas fa-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="work-card">
            <div class="d-flex">
              <div class="icon">
                <i class="fas fa-flask"></i>
              </div>
              <div>
                <div class="header">
                  서울삼성병원 학부 연구생 [ 2018년 1월 - 2021년 3월 ]
                </div>
                <div class="description">
                  김윤철 교수님의 지도를 받고 심장 영상 분류에 딥러닝을 적용하는 연구를 진행했습니다. Cardiac short-axis MRI 사진의
                  slice-range 분류에 transfer learning을 적용하여 backbone 네트워크 및 fine-tuning 깊이에 따른 효과를 실험적으로
                  보였습니다.
                  <a class="link" target="_blank" href="https://index.mirasmart.com/ISMRM2019/PDFfiles/2133.html">
                    2019 ISMRM 학회 논문
                    <i class="fas fa-chevron-right"></i>
                  </a>
                  <a class="link" target="_blank" href="https://www.nature.com/articles/s41598-021-81525-9">
                    2021 Scientific Reports 학술지 논문
                    <i class="fas fa-chevron-right"></i>
                  </a>
                  <ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="work-card">
            <div class="d-flex">
              <div class="icon">
                <i class="fas fa-graduation-cap"></i>
              </div>
              <div>
                <div class="header">
                  서강대학교 재학중 [ 2016년 3월 - ]
                </div>
                <div class="description">
                  컴퓨터공학 전공 (GPA 3.86/4.3). 학부 과정 중 집합론, 선형대수 과목을 가장 관심있게 공부했습니다. 학업 외에는 2017년 Release
                  과동아리 회장을 맡으며 Naver, Microsoft의 지원을 받아 세미나와 해커톤 등 각종 학술 활동을 운영했습니다.
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


{% endblock body %}
{% block body_script %}
{% endblock body_script %}
