@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 1.5rem, 0);
    transform: translate3d(0, 1.5rem, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 1.5rem, 0);
    transform: translate3d(0, 1.5rem, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.intro-header {
  margin-bottom: 3rem;
}

.intro-header .header {
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: 0.25rem;
  color: #333;
}

.intro-header .tab {
  margin: 0 1.25rem 0 0;
  font-size: 0.8125rem;
  padding: 0;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
}

.intro-header .profile-image {
  width: 3rem;
  height: 3rem;
  border-radius: 99999rem;
}

@media (min-width: 768px) {
  .intro-header .header {
    font-size: 1.625rem;
    margin-bottom: 0.5rem;
  }

  .intro-header .tab {
    margin: 0 1.25rem 0 0;
    font-size: 0.875rem;
  }

  .intro-header .profile-image {
    width: 4rem;
    height: 4rem;
  }
}

.intro-header .tab:hover {
  color: #ff0048;
}

.intro-header .tab.active {
  color: #444;
}

.intro-header .tab.active:hover {
  color: #ff0048;
}

.intro-header {
  padding: 1rem 0;
  border-bottom: 1px #eee solid;
}

.introduction {
  margin-bottom: 3rem;
}

.introduction .header {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.25;
  color: #444;
  margin-bottom: 2rem;
  animation-delay: 0.0s;
  animation-duration: 1s;
}

@keyframes accent {
  to {
    color: #ff0048;
  }
}

.introduction .header .accent {
  animation: accent;
  animation-duration: 0.5s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
  /*color: black;*/
  /*text-decoration: underline;*/
}

.introduction .content {
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Noto Serif KR", serif;
  line-height: 1.75;
  color: #777;
  margin-bottom: 0.5rem;
  animation-delay: 0.1s;
  animation-duration: 1s;
}

@media (min-width: 768px) {
  .introduction .header {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .introduction .content {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
}

.introduction .subheader {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #888;
}

.shortcuts .link {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  padding: 0.75rem 1.5rem;
  background-color: #f4f4f4;
  color: #666;
  border-radius: 1rem;
  text-decoration: none;
  animation-duration: 1s;
}

.shortcuts .link:hover {
  background-color: #e8e8e8;
}

.shortcuts .link.link-0 {
  animation-delay: 0.2s;
}

.shortcuts .link.link-1 {
  animation-delay: 0.3s;
}

.shortcuts .link.link-2 {
  animation-delay: 0.4s;
}

.shortcuts .link.link-3 {
  animation-delay: 0.5s;
}

.shortcuts .link.link-4 {
  animation-delay: 0.6s;
}

.shortcuts .link .fa-caret-right {
  margin-left: 0.5rem;
  display: inline-block;
  transition: margin 0.25s ease-in-out;
}

.shortcuts .link i {
  display: inline-block;
  transition: margin 0.25s ease-in-out;
}

.shortcuts .link:hover .fa-caret-right {
  margin-left: 0.5rem;
  margin-right: -0.125rem;
}

.shortcuts .link:hover i {
  margin-left: 0.125rem;
}

.writings .header {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  color: #444;
}

.work .header {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  color: #444;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  word-break: break-word;
  color: #777;
  width: 80%;
}

.title .accent {
  color: #ff0048;
}

@media (min-width: 768px) {
  .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    width: 75%;
  }
}
