.work {
  margin-bottom: 5rem;
}

.work-card {
  display: block;
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05), 0 8px 32px rgba(0, 0, 0, 0.05),
  0 8px 64px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  transition: 0.2s ease-out;
  text-decoration: none !important;
}

@media (min-width: 768px) {
  .work-card {
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
}

.work-card .icon {
  display: none;
  width: 6rem;
  justify-content: center;
  align-items: center;
  margin-left: -0.75rem;
  font-size: 1.5rem;
  flex-shrink: 0;
  color: #666;
}

@media (min-width: 768px) {
  .work-card .icon {
    display: flex;
  }
}

.work-card:hover {
  -webkit-transform: translate3d(0, -0.0025rem, 0) scale(1.01, 1.01);
  transform: translate3d(0, -0.0025rem, 0) scale(1.01, 1.01);
  margin-top: 0.1rem;
  margin-bottom: 0.6rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.05), 0 12px 48px rgba(0, 0, 0, 0.05),
  0 12px 80px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .work-card:hover {
    -webkit-transform: translate3d(0, -0.0025rem, 0) scale(1.01, 1.01);
    transform: translate3d(0, -0.0025rem, 0) scale(1.01, 1.01);
    margin-top: 0.1rem;
    margin-bottom: 1.1rem;
  }
}

.work-card *:last-child {
  margin-bottom: 0;
}

.work-card .header {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #666;
  transition: 0.2s ease-out;
}

.work-card:hover .header {
}

.work-card .description {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #888;
  transition: 0.2s ease-out;
}

.work-card .description .link {
  display: block;
  margin: 0.75rem 0;
  text-decoration: none;
}

.work-card .click {
  font-size: 0.9375rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.25;
  color: #444;
}


@media (min-width: 768px) {
  .work-card .header {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

  .work-card .chevron {
    margin-left: 0.5rem;
    transition: 0.2s ease-out;
  }

  .work-card:hover .chevron {
    margin-left: 0.7rem;
  }

  .work-card .description {
    font-size: 1.125rem;
  }
}